* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background:linear-gradient(to right, black,rgb(29, 0, 29));
  background-color: black;
  min-height: 100vh;
  
  color:white;
  
  font-family: Poppins, sans-serif;
}
#main-doc {
  margin-right: calc(20% + 50px);
  max-width: 1300px;
}
#main-header {
  padding: 50px 150px 0 150px;
}
section {
  min-height: 100vh;
  padding: 30px 150px;
  line-height:2rem;
  color: rgb(181, 181, 181);
}

header {
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 20px;

}
section header {
  position: absolute;
  left:0;
  font-size: 2rem;
  background:linear-gradient(to right,purple,rgb(50, 0, 50));
color: white;
  border:1px solid white;
  border-left:none;
  width:700px;
  max-width: 75vw;
  text-align: right;
  padding-inline:50px;
}
section p:first-of-type{
  margin-top: 140px;
}
#navbar {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 20%;
  /* height:300px; */
  /* background-color: black; */
  overflow-y: hidden;
  z-index: 1;

}
#main-header h1 {
  font-size: 2.5rem;
}
#description {
  font-weight: 300;
  color: rgb(128, 128, 128);
}
#navbar header {
  text-align: center;
  color: white;
  border-radius: 4px;
  background:linear-gradient(to right,rgb(78, 0, 78),purple);
}
a{
  text-decoration: none;
}
#navbar a {
  font-size: 0.9rem;
  padding:10px;
  /* background-color: white; */
  border-bottom: 1px solid purple;
 
  color: white;
  display: block;
  transition:0.3s;
  /* width:100%; */
}

#navbar a:hover {
  color: plum;
  margin-left:20px;
}
.main-section p,
ul,ol {
  font-size: 1.1rem;
  margin-top: 20px;
}
#introduction ul li {
  /* color: rgb(255, 211, 255); */
  color: plum;
}
ul li{
  margin-block:20px;
}
i {
  margin-inline: 10px;
}
.main-section ul {
  margin-left: 40px;
  list-style: disc;
  
}
.fa-bars {
  position: fixed;
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  z-index: 3;
}
#navbar.active {
  height: 300px;
}
.colored-text {
  color: plum;
}
code {
  margin-block: 40px;
  border:1px solid rgb(0, 0, 0);
  display: block;
  background-color: #000000;
  border:1px solid #f7f7f7;
  border-radius: 10px;
  color:rgb(183, 183, 183);
  /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.104); */
  padding: 10px;
  font-size: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
}
ol li h2.colored-text{
  color:rgb(194, 0, 194);
}
footer {
  border-top: 1px solid #ffffff20;
  padding: 10px;
  text-align: center;
}
footer a{
  color: purple;
}
div.icons-container{
  /* height:300px; */
  position:fixed;
  right:50px;
  bottom:50px;
  max-width: 300px;
  text-align: center;
}
.icons-container i{
  opacity: 0.1;
  color: white;
  padding:10px;
}
.icons-container i:nth-of-type(odd){
  font-size: 60px;
  /* animation: anim1 2s linear infinite; */
}
.icons-container i:nth-of-type(even),
.icons-container i:last-of-type{
  font-size: 40px;
  /* animation: anim2 2s linear infinite; */
}
@keyframes anim1 {
  50%{
    transform: scale(1.2);
  }
}
@keyframes anim2 {
  0%,100%{
    transform: scale(1.4);
  }
  50%{
    transform: scale(1);
  }

}
@media (max-width: 1150px) {
  #navbar {
    height: 0;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
  }
  #main-doc {
    margin: 0;
  }
  .fa-bars {
    display: block;
  }
}
@media (max-width: 800px) {
  #main-header,
  section {
    padding-inline: 10vw;
  }
  section header{
    font-size: 1.5rem;
  }
  #main-header h1 {
    font-size: 2rem;
  }
  #description {
    font-size: 1.2rem;
  }
  .main-section p,
  ul {
    font-size: 0.9rem;
  }
}
