* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background:linear-gradient(to right, black,rgb(29, 0, 29));
  background-color: black;
  min-height: 100vh;
  color: white;
  font-family: Poppins, sans-serif;
}
#main-doc {
  margin-right: calc(20% + 50px);
  max-width: 1300px;
}
#main-header {
  padding: 50px 150px 0 150px;
}
section {
  min-height: 100vh;
  padding: 30px 150px;
}
section p:first-of-type{
  margin-top: 150px;
}
header {
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 20px;
}
section header {
  position: absolute;
  left:0;
  font-size: 2rem;
  background:linear-gradient(to right,purple,rgb(50, 0, 50));
  border:1px solid white;
  border-left:none;
  min-width:300px;
  width:40vw;
  max-width: 80vw;
  text-align: right;
  padding-inline:50px;
}
#navbar {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 20%;
  /* height:300px; */
  /* background-color: black; */
  overflow-y: hidden;
  z-index: 1;

}
#main-header h1 {
  font-size: 2.5rem;
}
#description {
  font-weight: 300;
  color: rgb(128, 128, 128);
}
#navbar header {
  text-align: center;
  color: white;
  border-radius: 4px;
  background:linear-gradient(to right,rgb(78, 0, 78),purple);
}
#navbar a {
  font-size: 0.9rem;
  padding:10px;
  /* background-color: white; */
  border-bottom: 1px solid purple;
  text-decoration: none;
  color: white;
  display: block;
  transition:0.3s;
  /* width:100%; */
}

#navbar a:hover {
  color: plum;
  margin-left:20px;
}
.main-section p,
ul {
  font-size: 1.1rem;
  margin-top: 20px;
}
#introduction ul li {
  /* color: rgb(255, 211, 255); */
  color: plum;
}
ul li{
  margin-block:10px;
}
i {
  margin-right: 10px;
}
.main-section ul {
  margin-left: 40px;
}
.fa-bars {
  position: fixed;
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  z-index: 3;
}
#navbar.active {
  display: block;
  height: 40%;
}
.colored-text {
  color: plum;
}
code {
  margin-top: 50px;
  border:1px solid black;
  display: block;
  /* background-color: #f7f7f7; */
  border:1px solid #f7f7f7;
  color:rgb(183, 183, 183);
  padding: 10px;
  font-size: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
}
@media (max-width: 1150px) {
  #navbar {
    /* display: none; */
    height: 0;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
  }
  #main-doc {
    margin: 0;
  }
  .fa-bars {
    display: block;
  }
}
@media (max-width: 800px) {
  #main-header,
  section {
    padding-inline: 10vw;
  }
  section header{
    font-size: 1.5rem;
  }
  #main-header h1 {
    font-size: 2rem;
  }
  #description {
    font-size: 1.2rem;
  }
  .main-section p,
  ul {
    font-size: 0.9rem;
  }
}
